@media screen and (max-width: 800px) {
    p {
        font-size: 0.8em;
    }
    form {
        flex-direction: column;
        overflow: hidden;
    }
    fieldset {
        justify-content: center;
    }
    #difficulty-buttons {
        display: flex;
        width: 100%;
        padding: 0.5em;
    }
    #difficulty {
        display: flex;
        flex: 1;
        margin-right: 1em;
    }
    #content-section {
        flex-direction: column;
        overflow: hidden;
    }
    #table-render-space, #table-html-space {
        width: 100%;
        overflow: hidden;
    }
    #table-info {
        flex-direction: column;
        overflow: hidden;
    }
}