* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    width:100%; 
    height:100%;
}
body {
    display: flex;
    border: 3px solid purple;
}
#main_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 3px solid blue;
}
header, footer {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    background-color: #004047;
    color: white;
}
footer {
    flex: 0.5;
}
#description {
    background-color: #f5deb3;
    color: black;
    font-weight: bold;
}
#main-section {
    flex: 8;
    display: flex;
    flex-direction: column;
    border: 3px solid green;
    background-color: #bee5bf;
    align-items: center;
    padding: 1%;
}
#nav-section {
    display: flex;
    background-color: #dff3e3;
    justify-content: space-evenly;
    width: 100%;
}
form {
    display: flex;
    color: black;
    width: 100%;
    font-size: 1.5em;
    justify-content: space-evenly;
    border: 3px dotted red;
    border-radius: 1em;
}
fieldset {
    display: flex;
    background-color: #ffffff;
    padding: 0.5rem;
    border-radius: 0.5em;
}
legend {
    background-color: #e4e2e2;
    padding: 0.2rem;
    border-radius: 0.3em;
    font-size: 0.8em;
}
#pName, #size {
    height: 80%;
    font-size: large;
}
#color-buttons {
    display: flex;
    border: 3px dotted red;
    border-radius: 0.3em;
}
label {
    font-size: 0.5em;
}
#difficulty-buttons {
    display: flex;
    border: 3px dotted red;
    border-radius: 0.3em;
    height: 80%;
    align-items: center;
}
input, select, button, .radio-container {
    border: 3px solid #e4e2e2;
    border-radius: 1em;
    padding: 0.3em;
}
.radio-container {
    margin: 0.3em;
    display: flex;
    flex-direction: column;
}
#content-section {
    display: flex;
    flex: 9;
    flex-direction: row;
    width: 100%;
    background-color: #d3d3d3;
    border: 3px solid red;
    border-radius: 1em;
    margin-top: 1%;
    padding: 1%;
}
#stats-space {
    display: flex;
    flex: 3;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 1em;
    padding: 1%;
}
#leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    flex: 4;
    width: 100%;
}
#start-game {
    background-color: #008000;
    color: white;
    padding: 10%;
}
#start-game:disabled {
    background-color: #A9A9A9;
}
#game-stats {
    font-size: large;
    font-weight: bold;
    padding: 2%;
}
#sort-info {
    padding: 2%;
}
#saveButtons-div {
    display: flex;
    flex-direction: row;
}
.saveloadclear {
    background-color: red;
    color: white;
    padding: 1%;
}
.scoreBoardTable {
    width: 100%;
}
.scoreBoardData, .scoreBoardtd {
    border: #e8e8e8 1px;
}
.scoreBoardData {
    text-align: left;
    color: white;
    background-color: #04aa6d;
    padding: 0.5em;
}
.scoreBoardtd {
    text-align: center;
}
.scoreBoardtr:nth-child(even) {
    background-color: #e0ffff;
}
.scoreBoardtr:nth-child(odd) {
    background-color: #f5f5f5;
}
#table-space {
    display: flex;
    flex-direction: column;
    flex: 7;
    background-color: #dff3e3;
    border-radius: 1em;
    margin-left: 1%;
    padding: 1%;
}
#game-description-space {
    border: 3px solid #8d2724;
    border-radius: 1em;
    padding: 1%;
    margin-bottom: 0.7em;
}
#game-desciption-text-space {
    display: flex;
    border: 1px dotted darkgreen;
    justify-content: space-between;
}
#gameDescriptionText {
    line-height: 2;
}
#gameDescptionSpan {
    color: white;
    background-color: red;
    padding: 0.5em;
    border-radius: 0.7em;
}
#nmb-guesses {
    font-weight: bold;
}
#table-render-space {
    display: flex;
    flex:1;
}
.game-table {
    display:flex;
    flex:1;
}
.game-tr {
    display:flex;
    flex-wrap: wrap;
    flex:1;
}
.game-td {
    display:flex;
    width:100%;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    border: 0.1em;
}
/* Taken mostly from https://www.w3schools.com/howto/howto_css_switch.asp */
/* The switch - the box around the slider */
#cheat-switch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.switch {
    position: relative;
    display: flex;
    width: 4em;
    height: 2em;
}
  
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
.slider:before {
    position: absolute;
    content: "";
    height: 1em;
    width: 1em;
    left: 4px;
    bottom: 0.5em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: #008000;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #008000;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
} 

#cheat-text {
    font-size: 0.7em;
}
#submit-guesses:disabled {
    background-color: #A9A9A9;
}
#timer {
    display: flex;
    flex-direction: column;
    flex: 1
}
#timer-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2f4f4f;
    color: white;
    border-radius: 0.5em;
    padding-right: 5em;
    padding-left: 5em;
}
